.card {
  position: relative;
  max-width: 323px;
  max-height: 323px;
  display: flex;
  justify-content: center;
}

.card__name {
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  line-height: 100%;
  color: #00000099;

  position: absolute;

  padding: 5px 12px 0;

  background-color: #ffffff;
  border-radius: 4px;
  border-color: #000000;

  border-radius: 4px;

  max-height: 24px;
}

.card__image {
  width: 323px;
  height: 323px;
  border: 1px solid #0000004d;
  border-radius: 12px;
}

/* RESPONSIVE STYLES------------------------------- */

@media screen and (max-width: 750px) {
  .card__name {
    font-size: 16px;
  }

  .card__image {
    max-width: 164px;
    width: auto;
    height: auto;
  }
}
