.modal {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__content {
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  border: 1px solid #0000004d;
  max-width: 440px;
  max-height: 436px;
  width: 100%;
  padding: 28px 28px 36px;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0;
  font-size: 16px;
}

.modal__close {
  background-size: contain;
  border: none;
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.modal__close-form {
  background-image: url(../../../assets/Close-grey.svg);
}

.modal__label {
  line-height: 20px;

  margin-top: 24px;
}

.modal__input {
  color: #000000;
  opacity: 0.8;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 8px;
  /* margin-bottom: 24px; */
  padding: 0;
}

.modal__input_error {
  border-bottom: 1px solid #ff4d00;
  color: #ff4d00;
  opacity: 1;
}

.modal__error {
  color: #ff4d00;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__radio-buttons {
  color: #000000;
  display: flex;
  flex-direction: column;
  border: none;
  margin-top: 24px;

  margin-bottom: 32px;
  padding: 0;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__radio-input:checked {
  accent-color: #000000;
  opacity: 1;
}

.modal__label_type_radio {
  margin: 4px 0;
  opacity: 0.5;

  display: flex;
  gap: 8px;
  height: 20px;
}
.modal__label_type_radio:has(.modal__radio-input:checked) {
  opacity: 1;
}

.modal__submit {
  border: none;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  padding: 8px 16px;
  gap: 8px;
  background: #000000;
  color: #ffffff;
}

.modal__submit:hover {
  background: #00000099;

  color: #ffffff;
}

.modal__submit:disabled {
  background: #0000004d;
  color: #ffffff;
  cursor: not-allowed;
}

.modal__link {
  border: none;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  padding: 8px 16px;
  gap: 8px;
  background: transparent;
  color: #00000080;
}

/* RESPONSIVE STYLES------------------------------- */

@media screen and (max-width: 750px) {
  .modal__content {
    width: 375px;
    height: 455px;
  }

  .modal__close {
    background-image: url(../../assets/Close-Black.svg);
  }

  .modal__submit {
    width: 100%;
    height: 36px;
  }
}
