.cards {
  color: #000000;
  margin: 0;
  padding: 0;
  bottom: 10px;
}

.cards__text {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  line-height: 100%;

  position: relative;
  display: flex;

  margin: 40px auto 34px;
  padding: 0;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
}

/* RESPONSIVE STYLES------------------------------- */

@media screen and (max-width: 750px) {
  .cards__text {
    position: relative;
    justify-content: center;

    margin: 32px auto 20px;
    padding: 0;
  }

  .cards__list {
    gap: 21px;
    justify-content: center;
    margin: 0 auto;
  }
}
