.modal__content_type_message {
  font-family: Cabinet Grotesk;
  max-width: 670px;
  height: 280px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__close-message {
  background-image: url(../../assets/Close-grey.svg);
}

.modal__message {
  width: 367px;
  height: 48px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

.modal__delete-message {
  border: none;
  background: none;
  color: #ff4d00;
  margin: 40px auto 24px;
  padding: 0;
  font-size: 20px;
}

.modal__cancel {
  border: none;
  width: 61px;
  height: 24px;
  background: none;
  font-size: 20px;
}
