.header {
  color: #000000;
  background-color: transparent;

  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 12px 0 12px;
  margin: 0;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  top: 7px;
}

.header__add-clothes-btn {
  background-color: transparent;

  font-weight: 700;
  margin: 14px 20px 0 auto;
  width: 116px;
  height: 24px;
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 14px 0 0;
}

/* RESPONSIVE STYLES------------------------------- */

@media screen and (max-width: 750px) {
  .header {
    /* padding: 12px 0 12px; */
    visibility: collapse;
  }

  /* .header__logo {
    margin-right: 16px;
  } */

  /* .header__date-and-location {
    font-size: 16px;
    line-height: 20px;
    top: 4px;
  } */

  /* .header__add-clothes-btn {
    margin: 14px 10px 0 auto;
    width: 100px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
  } */

  /* .header__username {
    font-size: 16px;
    line-height: 20px;
    margin: 14px auto auto;
  } */
}
