.sidebar {
  display: flex;
  font-family: Cabinet Grotesk;
  min-width: 229px;
  height: 56px;
  margin: 47px 97px 0 0;
  align-items: center;
}

.sidebar__profile-name {
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}
