.footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  vertical-align: bottom;

  margin-top: auto;
  width: 100%;
  padding: 20px 0;
}

.footer__container {
  display: flex;

  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}
