.footer {
  font-family: "Cabinet Grotesk";
  margin-top: auto;
  padding: 20px 0;
}

.footer__container {
  display: flex;

  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}

/* RESPONSIVE STYLES------------------------------- */

@media screen and (max-width: 750px) {
  .footer__container {
    padding: 0 16px;
  }
}
